<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>超市管理系统——账号管理</title>
    <!-- 清除样式 -->
    <link rel="stylesheet" href="./css/qingchu.css">
    <!-- 引入elementUI -->
    <link rel="stylesheet" href="./css/elementUI.css">
    <!-- 自己的样式 -->
    <link rel="stylesheet" href="./css/shouye.css">
    <script src="/users/feifa"></script>
</head>

<body>
    <div id="app">
        <el-main>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>商品信息管理</span>
                </div>
                <div class="text item">
                    <el-form :inline="true" :model="search" id="searchForm" class="demo-form-inline">
                        <el-form-item label="所属分类">
                            <el-select v-model="search.category" placeholder="请选择">
                                <el-option v-for="(c, index) in categoryList" :key="index" :label="c.cg_name" :value="c.cg_id"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="关键词">
                            <el-input v-model="search.keywords" placeholder="条码或者商品名称"></el-input>
                        </el-form-item>

                        <el-form-item>
                            <el-button type="success" @click="onSearch">查询</el-button>
                        </el-form-item>
                    </el-form>
                </div>
                <div class="text item app">
                    <template>
                        <el-table :data="tableData" style="width: 100%">
                            <el-table-column label="编号" prop="good_id" width="120px">
                            </el-table-column>
                            <el-table-column label="商品名称" prop="goodsname">
                            </el-table-column>
                            <el-table-column label="所属分类" width="100px">
                                <template slot-scope="scope">
                                    <span> {{ scope.row.cg_name }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column class-name="redText" label="商品进价" width="120px">
                                <template slot-scope="scope">
                                    <span> {{ scope.row.goodsprice | formatPrice }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column label="市场价" width="120px">
                                <template slot-scope="scope">
                                    <span> {{ scope.row.marketprice | formatPrice }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column label="销售价" width="120px">
                                <template slot-scope="scope">
                                    <span class="redText"> {{ scope.row.saleprice | formatPrice }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column label="操作" width="200px">
                                <template slot-scope="scope">
                                    <el-button size="mini" @click="handleEdit(scope.row.good_id)" type="primary" plain>
                                        <i class="el-icon-edit"></i> 编辑</el-button>
                                    <el-button size="mini" @click="handleDelete(scope.row.good_id)" type="danger" plain>
                                        <i class="el-icon-delete"></i> 删除</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </template>
                </div>
                <div class="text item">
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" background :current-page="currentPage"
                        :page-sizes="[1, 2, 3, 4, 5, 10, 100, 200, 300, 400]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper"
                        :total="total">
                    </el-pagination>
                </div>
            </el-card>
        </el-main>
    </div>
    <!-- 引入jquery -->
    <script src="./js/jquery.js"></script>
    <!-- 引入vue -->
    <script src="./js/vue.js"></script>
    <!-- 引入elementUI -->
    <script src="./js/elementUI.js"></script>
    <!-- 引入moment时间格式化的js库 -->
    <script src="./js/moment-with-locales.min.js"></script>

    <script>
        //创建vue实例
        new Vue({
            //挂载视图
            el: "#app",
            data() {
                return {
                    tableData: [],
                    categoryList: [],
                    total: 52,
                    currentPage: 1,
                    pageSize: 10,
                    search: {
                        keywords: '',
                        category: ''
                    }
                };
            },
            filters: {
                //过滤器做一个管道格式化价格
                formatPrice(price) {
                    return price.toFixed(2);
                }
            },
            methods: {
                fenlei() {
                    $.get("/goods/list", (userlist) => {
                        this.tableData = userlist;
                        // console.log(userlist)

                    })
                },
                //执行查询的方法
                onSearch() {
                    this.getDataAjax();
                },
                //编辑和删除的方法
                handleEdit(id) {
                    console.log("编辑的id", id);
                    location.href = "goods_addbianji.1.html?id=" + id;
                },
                handleDelete(id) {
                    $.get("goods/shanchu", { id }, (userlist) => {
                        console.log(userlist)
                        if (userlist.isOk) {
                            this.fenlei();
                        } else {
                            alert("删除失败");
                        }
                    })
                },
                //抽取获取数据的ajax请求为一个公共的方法
                getDataAjax() {
                    //查询+分页
                    let pageSearchObj = {
                        currentPage: this.currentPage,  //当前页
                        pageSize: this.pageSize,        //每页大小
                        keywords: this.search.keywords, //关键词
                        category: this.search.category  //分类
                    }
                    $.get("/goods/listPagerSearch", pageSearchObj, (pagerData) => {

                        this.total = pagerData.total; //符合条件的总记录数
                        this.tableData = pagerData.datalist; //符合条件的分页数据
                    });
                },
                //每页大小分页的方法
                handleSizeChange(val) {
                    //console.log(`每页 ${val} 条`);

                    this.pageSize = val; //修改每页大小

                    this.getDataAjax();
                },

                handleCurrentChange(val) {
                    this.currentPage = val;//改变页码
                    this.getDataAjax();
                }
            },
            mounted() {
                this.getDataAjax();
                $.get("/category/list", (dataList) => {
                    this.categoryList = dataList;
                });
            }
        });
    </script>
</body>

</html>